<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>578565313797-j6ubqtjvbqtlpoc8buljllr1899gluls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578565313797-j6ubqtjvbqtlpoc8buljllr1899gluls</string>
	<key>API_KEY</key>
	<string>AIzaSyAkZdVsHTAazAirUIbsyQQ-EacBa3DDuxI</string>
	<key>GCM_SENDER_ID</key>
	<string>578565313797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.qcodelabs.libello</string>
	<key>PROJECT_ID</key>
	<string>libello-notes</string>
	<key>STORAGE_BUCKET</key>
	<string>libello-notes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578565313797:ios:d95bad0a08fcf61701d36c</string>
</dict>
</plist>